#pragma once

// WiFi credentials
#define WIFI_SSID     "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// Firebase
#define API_KEY      "your_firebase_api_key"
#define DATABASE_URL "your-db.firebasedatabase.app"
